.root {
  margin: 30px 0 20px;
}

.card {
  min-height: 175px;
  padding: 8px;
}

@media screen and (max-width: 768px) {
  .card {
    min-height: 0;
  }
}

.link {
  color: unset;
  text-decoration: unset;
}

.title {
  padding: 0 8px 8px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.content {
  position: relative;
  height: 100%;
  background-color: #EAECEE;
  border-radius: 4px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  flex: 1;

  :global(.dark) & {
    background-color: #191D27;
  }
}

